.landing{
    background-image: url('../../public/assets/bg-hero.png');
    background-repeat: no-repeat;
    background-size: 1200px;
    min-height: 95vh;
}
@media (min-width: 1600px) {
    .landing {
        background-size: 1600px;
    }
}

@media (max-width: 756px) {
    .landing {
        background-image: none;
    }
}

@include media-breakpoint-down(md) {
    .landing{
        min-height: auto;
    }
}
