.header {
    position: relative;
    text-align: center;
    background-image: url(/public/assets/hero.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width: 756px){
  .header{
    background-position: center right;
  }
}

.inner-header {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex { /* Flexbox for containers */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 100px;
  max-height: 150px;
}